@import "../../Button.module.scss";
@import "../../theme.module.scss";
@import "../../Input.module.scss";

.project-link {
  &-theme-light {
    color: black;
  }

  &-theme-dark {
    color: white;
  }

  border: 2px solid $success-color;

  &:hover {
    background-color: $success-color;
    color: white;
  }

  &-primary {
    border: 2px solid $primary-color;
    background-color: $primary-color;
    color: white;
  }
  &-primary:hover {
    border: 2px solid $primary-color;
    background-color: $primary-color;
    color: white;
  }

  box-shadow: 2px 2px black;
  border-radius: 25px;
  min-width: 200px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 10px;
  color: black;
}
