@import "../../Button.module.scss";
@import "../../Input.module.scss";

.task-card {
  flex: 1 0 21%;
  border-radius: 10px;
  position: relative;
  max-width: 200pt;
  min-width: 200pt;
  min-height: 100pt;
  margin: 10pt;
  padding: 10pt;
  border: 3px double $primary-color;
}

.task-header {
  display: flex;
  justify-content: space-around;
}

.task-description {
  word-wrap: break-word;
}

.task-board {
  margin-right: 10%;
  margin-left: 10%;
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}

.priority-badge {
  display: inline-block;
  min-width: 50pt;
  padding: 0 8pt 0 8pt;
  border: $third-color solid 2pt;
  font-size: 10pt;

  width: 60px;
  height: 20px;
  transform: skew(-20deg);

  color: $light-color;

  &-style-danger {
    background-color: $danger-color;
  }

  &-style-primary {
    background-color: $primary-color;
  }

  &-style-secondary {
    background-color: $third-color;
    color: $dark-color;
  }
}

.spaced {
  margin: 3pt;
}

.switch {
  height: 20px;
  width: 30px;

  &-true {
    background: linear-gradient(to right, $third-color 50%, $success-color 50%);
  }

  &-false {
    background: linear-gradient(to right, lighten($danger-color, 30%) 50%, $third-color 50%);
  }
}
