@import "../../Button.module.scss";

.Theme-switcher {
  align-self: flex-end;

  &-theme-light {
    background-color: $dark-color;
    color: $light-color;
    border-color: black;
  }

  &-theme-dark {
    background-color: $light-color;
    color: $dark-color;
    border-color: white;
  }
}

.nav-panel {
  height: 100%;
  width: 60px; 
  position: fixed;
  z-index: 1;
  top: 0; 
  right: 120px;
  padding-top: 120px;
}

.nav-item {
  margin: 10px;
}
