@import "./theme.module.scss";
@import "./Button.module.scss";

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;

  min-height: 100vh;

  &-theme-light {
    color: $dark-color;
    background-color: $light-color;
  }

  &-theme-dark {
    color: $light-color;
    background-color: $dark-color;
  }
}

.App-header {
  background-color: $secondary-color;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-title {
  font-size: calc(30px + 2vmin);
  color: $light-color;
}

.Error {
  color: $danger-color
}

.content {
  margin-top: 5px;
}