@import "./theme.module.scss";

.button {
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;

  margin-left: 2px;
  margin-right: 2px;

  width: 150px;
  height: 40px;

  &-small {
    font-size: 15px;
    width: 45px;
    height: 45px;
  }

  &-primary {
    background-color: $primary-color;
    color: $light-color;
  }

  &-secondary {
    background-color: $third-color;
    color: $light-color;
  }

  &-dark {
    background-color: $dark-color;
    color: $light-color;
  }

  &-danger {
    background-color: $danger-color;
    color: $light-color;
  }

  &-success {
    background-color: $success-color;
    color: $light-color;
  }
}
