.editor-field {
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 25%;
  font-size: 20px;

  &-theme-light {
    background-color: white;
    color: black;
  }

  &-theme-dark {
    background-color: black;
    color: white;
  }
}
